@import '_reset.scss';

$lightGrey: hsla(0,0%,96%,1);
$darkGrey: hsla(0,0%,18%,1);
$red: hsla(350,88%,55%,1);

body {background: $lightGrey; color: $darkGrey;}

#controls {
  width:300px;
  padding:20px; margin:0px auto;
}

.image {text-align:center; padding:10px 0px;}

header {
  padding: 1em 0px;
  border-bottom: 1px solid $darkGrey;
  h2 {color:$red;}
}

h4 {
  padding:2em 0px 0.5em;
}

.form-field {
  display: flex;
  justify-content: space-around;
  flex-wrap:nowrap;
  
  .input-radio {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
  }

  .label-radio {
    display: inline-block; box-sizing:border-box;
    min-width: 33%;
    padding: 0.5rem 1rem;
    border-radius: 1px;
    transition: all .2s;
    text-align: center;
    
  }

  .input-radio:checked + .label-radio {
      background: $red;
      color: $lightGrey;
      text-shadow: 0 0 1px rgba(0,0,0,.7);
  }

  .input-radio:focus + .label-radio {
      outline-color: $darkGrey;
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
  }
}
