<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Get your Ruby!</title>

  <link href="public/css/audience.css" rel="stylesheet" type="text/css">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  
</head>
<body class="audience">

  <article id="controls">
    <header><h2>Control Your Image!</h2></header>

    <div class="image">
      <img src="public/images/smashinglogo.png" id="the-image" />
    </div>

    <form>

      <h4 >Cat or logo?</h4>
      <div class="form-field">
        <input type="radio" name="img-type" id="logo" value="logo" checked="checked" class="input-radio" />
        <label for="logo" class="label-radio">Logo</label>
        <input type="radio" name="img-type" id="cat" value="cat" class="input-radio" />
        <label for="cat" class="label-radio">Cat</label>
      </div>

      <h4>Move your image by tilting your phone</h4>
    </form>

  </article>

<div id="pusher" data-key="{{PUSH_KEY}}"></div>
<script type="text/javascript">

// pusher stuff
var config = document.getElementById('pusher').dataset;
var pusher = new Pusher(config.key, {encrypted:true});

Pusher.channel_auth_endpoint = 'http://localhost:3000/pusher/auth';
pusher.connection.bind('state_change', function(states) {
    console.log("Pusher's current state is " + states.current);
});

// subscribe to channel
var channel = pusher.subscribe('private-rubies');

channel.bind('pusher:subscription_succeeded', function() {
  console.log('subscription succeeded');
  channel.trigger(
    'client-audience_joined',
    {
      "person": uniqueID
    }  
  );
});



// when user taps option send data

//create user id - FUCKING CHANGE THIS
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}
var uniqueID = getRandomInt(0,9999);


var allLabels = document.getElementsByTagName('label');
var imageEl = document.getElementById('the-image');

for (var i=0; i<allLabels.length; i++) {
  allLabels[i].addEventListener("click", function() { sendData(uniqueID, this.previousElementSibling); }, false);
}

// send data function
function sendData(uniqueID, inputEl) {
  console.log(inputEl);
  channel.trigger(
    'client-audience_data',
    {
      "person": uniqueID,
      "param": inputEl.name, //can be gem-type, freq-size, freq-flash or freq-rotate
      "setting": inputEl.value //can be ruby, sapphire, emerald, low, mid, high
    }
  );
  if (inputEl.value === 'logo') {
    imageEl.src = "public/images/smashinglogo.png";
  } else if (inputEl.value === 'cat') {
    imageEl.src = "public/images/smashing.png";
  }
}

if (window.DeviceOrientationEvent) {
  window.addEventListener('deviceorientation', deviceOrientationHandler, false);
}
var rotation = "rotate(0deg) rotate3d(1,0,0, 0deg)";
var sendRotate = window.setInterval(function() {
  channel.trigger(
    'client-audience_data',
    {
      "person": uniqueID,
      "param": "view",
      "value": rotation
    }
  );
}, 1000);

var deviceOrientationData;

function deviceOrientationHandler(evt) {
  deviceOrientationData = evt;
  console.log(deviceOrientationData);

  try {
    rotation = "rotate("+ evt.alpha +"deg) rotate3d(1,0,0, "+ (evt.gamma * -1)+"deg)";
    imageEl.style.webkitTransform = rotation;
    imageEl.style.transform = rotation;
    
  } catch (ex) {
    console.log('orientation not working');
  }
}



</script>
</body>
</html>