<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Get your Ruby!</title>

  <link href="public/css/audience.css" rel="stylesheet" type="text/css">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  
</head>
<body class="audience">

  <article id="controls">
    <header><h2>Control Your Ruby!</h2></header>

    <form>

      <h4 >Choose your gem:</h4>
      <div class="form-field">
        <input type="radio" name="gem-type" id="ruby" value="ruby" checked="checked" class="input-radio" />
        <label for="ruby" class="label-radio">Ruby</label>
        <input type="radio" name="gem-type" id="sapphire" value="sapphire" class="input-radio" />
        <label for="sapphire" class="label-radio">Sapphire</label>
        <input type="radio" name="gem-type" id="emerald" value="emerald" class="input-radio" />
        <label for="emerald" class="label-radio">Emerald</label>
      </div>

      <h4>Change your view:</h4>
      <div class="form-field">
        <input type="radio" name="view" id="view-top" value="top" checked="checked" class="input-radio" />
        <label for="view-top" class="label-radio">Top</label>
        <input type="radio" name="view" id="view-side" value="side" class="input-radio" />
        <label for="view-side" class="label-radio">Side</label>
      </div>

      <h4>Frequency for size:</h4>
      <div class="form-field">
        <input type="radio" name="freq-size" id="size-low" value="low" checked="checked" class="input-radio" />
        <label for="size-low" class="label-radio">Low</label>
        <input type="radio" name="freq-size" id="size-mid" value="mid" class="input-radio" />
        <label for="size-mid" class="label-radio">Mid</label>
        <input type="radio" name="freq-size" id="size-high" value="high" class="input-radio" />
        <label for="size-high" class="label-radio">High</label>
      </div>

      <h4>Frequency for flash:</h4>
      <div class="form-field">
        <input type="radio" name="freq-flash" id="flash-low" value="low" class="input-radio" />
        <label for="flash-low" class="label-radio">Low</label>
        <input type="radio" name="freq-flash" id="flash-mid" value="mid" class="input-radio" />
        <label for="flash-mid" class="label-radio">Mid</label>
        <input type="radio" name="freq-flash" id="flash-high" value="high" checked="checked" class="input-radio" />
        <label for="flash-high" class="label-radio">High</label>
      </div>

      <h4>Frequency for rotate:</h4>
      <div class="form-field">
        <input type="radio" name="freq-rotate" id="rotate-low" value="low" class="input-radio" />
        <label for="rotate-low" class="label-radio">Low</label>
        <input type="radio" name="freq-rotate" id="rotate-mid" value="mid" checked="checked" class="input-radio" />
        <label for="rotate-mid" class="label-radio">Mid</label>
        <input type="radio" name="freq-rotate" id="rotate-high" value="high" class="input-radio" />
        <label for="rotate-high" class="label-radio">High</label>
      </div>

      

    </form>

  </article>

<div id="pusher" data-key="{{PUSH_KEY}}"></div>
<script type="text/javascript">

// pusher stuff
var config = document.getElementById('pusher').dataset;
var pusher = new Pusher(config.key, {encrypted:true});

Pusher.channel_auth_endpoint = 'http://localhost:3000/pusher/auth';
pusher.connection.bind('state_change', function(states) {
    console.log("Pusher's current state is " + states.current);
});

// subscribe to channel
var channel = pusher.subscribe('private-rubies');

channel.bind('pusher:subscription_succeeded', function() {
  console.log('subscription succeeded');
  channel.trigger(
    'client-audience_joined',
    {
      "person": uniqueID
    }  
  );
});



// when user taps option send data

//create user id - FUCKING CHANGE THIS
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}
var uniqueID = getRandomInt(0,9999);


var allLabels = document.getElementsByTagName('label');

for (var i=0; i<allLabels.length; i++) {
  allLabels[i].addEventListener("click", function() { sendData(uniqueID, this.previousElementSibling); }, false);
}

// send data function
function sendData(uniqueID, inputEl) {
  console.log(inputEl);
  channel.trigger(
    'client-audience_data',
    {
      "person": uniqueID,
      "param": inputEl.name, //can be gem-type, freq-size, freq-flash or freq-rotate
      "setting": inputEl.value //can be ruby, sapphire, emerald, low, mid, high
    }
  );
}

if (window.DeviceOrientationEvent) {
  window.addEventListener('deviceorientation', deviceOrientationHandler, false);
}
      
var deviceOrientationData;

function deviceOrientationHandler(evt) {
  deviceOrientationData = evt;
  console.log(deviceOrientationData);
  // if beta falls below 20 send new view

  // else if it goes back above 35 go back to original

  // try {
  //   timestamp.innerText = new Date(evt.timeStamp);
  //   alpha.innerText = evt.alpha.toFixed(fixed);
  //   beta.innerText = evt.beta.toFixed(fixed);
  //   gamma.innerText = evt.gamma.toFixed(fixed);
  //   var rotation = "rotate("+ evt.alpha +"deg) rotate3d(1,0,0, "+ (evt.gamma * -1)+"deg)";
  //   h5logo.style.webkitTransform = rotation;
  //   h5logo.style.transform = rotation;
  // } catch (ex) {
  //   document.getElementById("doeSupported").innerText = "NOT";
  // }
}



</script>
</body>
</html>