<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Rumyra's Interactive VJing</title>

  <link href="public/css/projection.css" rel="stylesheet" type="text/css">
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="d3/d3.min.js"></script>

  <style type="text/css">
  #screen {
    background: black;
    width:100vw; height:100vh;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #screen > div {
    padding:10px;
  }
  .gem{
    position: absolute;
  }
  .svgSide {display: none;}
  #url {
    position:absolute; top:10px; right:50px; color:white; font-size:120%;
  }
  </style>

</head>
<body class="projection">

<section id="screen">


</section>
<p id="url">Join In! Get yourself a gem! Go to: http://tiny.cc/bathruby</p>


<span id="pusher" data-key="{{PUSH_KEY}}"></span>
<script type="text/javascript" src="public/scripts/Gem.js"></script>
<script type="text/javascript">
var config = document.getElementById('pusher').dataset;
var pusher = new Pusher(config.key, {encrypted:true});

Pusher.channel_auth_endpoint = 'http://localhost:3000/pusher/auth';
pusher.connection.bind('state_change', function(states) {
    console.log("Pusher's current state is " + states.current);
});

// subscribe to channel
var channel = pusher.subscribe('private-rubies');

channel.bind('pusher:subscription_succeeded', function() {
  console.log('subscription succeeded');
});

// set up audio context
var audioContext = (window.AudioContext || window.webkitAudioContext);
// create audio class
if (audioContext) {
  // Web Audio API is available.
  var audioApi = new audioContext();
} else {
  // Web Audio API is not available. Ask the user to use a supported browser.
  alert("Oh nos! It appears your browser does not support the Web Audio API, please upgrade or use a different browser");
}
// set up getUserMedia
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

// variables
var audioBuffer,
    analyserNode,
    frequencyData = new Uint8Array(1024);

// create an audio API analyser node and connect to source
function createAnalyserNode(audioSource) {
  analyserNode = audioApi.createAnalyser();
  analyserNode.fftSize = 2048;
  audioSource.connect(analyserNode);
}

function oneGem(id) {
  this.id = id;
  this.type = 'ruby';
  this.size = 'low';
  this.rotate = 'mid';
  this.rotateVal = 0;
  this.flash = 'high';
  this.view = 'top';
}
var allGemParams = [],
  screen = document.getElementById('screen'),
  firstGem = new oneGem(000);
// make at least one gem
allGemParams.push(firstGem);
// createGem(000, screen);
function updateGemArray(id, param, value) {
  for (var i=0; i<allGemParams.length; i++) {
    if (id === allGemParams[i].id) {
      switch (param) {
        case 'gem-type':
          allGemParams[i].type = value;
        break;
        case 'freq-size':
          allGemParams[i].size = value;
        break;
        case 'freq-flash':
          allGemParams[i].flash = value;
        break;
        case 'freq-rotate':
          allGemParams[i].rotate = value;
        break;
        case 'view':
          allGemParams[i].view = value;
        break;
      }

    }
  }
}

channel.bind('client-audience_joined', function(data) {
  // createGem(data.person, screen);
  var thisGem = new oneGem(data.person);
  allGemParams.push(thisGem);
  restart()
});

channel.bind('client-audience_data', function(data) {
  updateGemArray(data.person, data.param, data.setting);
  restart()
});



// animate rotate
// function changeRotateFreq(freqRange, svgId) {
//   svgEl = document.getElementById(svgId);
//   analyserNode.getByteFrequencyData(frequencyData);
//   var freqIndex = 300;
//   if (freqRange == 'low') {
//     freqIndex = 80
//   } else if (freqRange == 'mid') {
//     freqIndex = 175
//   }
//   if (frequencyData[freqIndex] > 80) {
//     rotateVal = frequencyData[freqIndex]/100;
//     svgId.style.transform = 'rotate('+(frequencyData[freqIndex]/10)+'deg)';
//   }
// }
// animate flash

// animate size

// change colour

// high 600 - 250 mid 250 - 100 low 100 - 0
function animateSvgs() {
  requestAnimationFrame(animateSvgs);
  analyserNode.getByteFrequencyData(frequencyData);

  // Animation stuff--------------------------------
  // var allRepeatedEls = document.getElementsByTagName('svg');
  var totalEls = allGemParams.length;

  // Simple example of changing opacity & colour -> EDIT THIS!
  for (var i=0; i<totalEls; i++) {
    var svgElement = document.getElementById(allGemParams[i].id);
    var correctChild;
    // console.log(allGemParams[i].id)
    // show correct view
    if (allGemParams[i].view === 'side') {
      correctChild = 1;
      svgElement.children[0].style.display = 'none';
      svgElement.children[1].style.display = 'inline';
    } else {
      correctChild = 0;
      svgElement.children[0].style.display = 'inline';
      svgElement.children[1].style.display = 'none';
    }

    // colour

    var colour;
    switch (allGemParams[i].type) {
      case 'sapphire':
        colour = 230;
      break;
      case 'emerald':
        colour = 152;
      break;
      default:
        colour = 346;
    }
    svgElement.children[correctChild].children[0].style.fill = 'hsla('+colour+', 100%, 50%, 1)';

    // if high freq flash unless
    var flashFreq;
    switch (allGemParams[i].flash) {
      case 'low':
        flashFreq = 80;
      break;
      case 'mid':
        flashFreq = 175;
      break;
      default:
        flashFreq = 350;
    }
    if (frequencyData[flashFreq] > 80) {
      svgElement.children[correctChild].children[0].style.fill = 'hsla('+colour+', 100%, '+(frequencyData[flashFreq]/2)+'%, 1)';
    }

    // if mid freq rotate unless
    var rotateFreq;
    switch (allGemParams[i].rotate) {
      case 'low':
        rotateFreq = 80;
      break;
      case 'high':
        rotateFreq = 350;
      break;
      default:
        rotateFreq = 175;
    }
    if (frequencyData[rotateFreq] > 100) {
      var rotateVal = frequencyData[rotateFreq]/200;
      allGemParams[i].rotateVal += rotateVal;
    }

    // if low freq change size unless
    var scaleFreq;
    switch (allGemParams[i].size) {
      case 'mid':
        scaleFreq = 175;
      break;
      case 'high':
        scaleFreq = 350;
      break;
      default:
        scaleFreq = 80;
    }
    if (frequencyData[scaleFreq] > 80) {
      var scaleVal = frequencyData[scaleFreq]/200;
    }
    svgElement.style.transform = 'rotate('+allGemParams[i].rotateVal+'deg) scale('+scaleVal+')';
  }
}


// getUserMedia success callback -> pipe audio stream into audio API
function gotStream(stream) {
    // Create an audio input from the stream.
    var audioSource = audioApi.createMediaStreamSource(stream);
    createAnalyserNode(audioSource);
    animateSvgs();
}

// pipe in analysing to getUserMedia
navigator.getUserMedia(
  {audio:true},
  gotStream,
  function(err) {
    console.log("The following error occured: " + err);
  }
);


// var tempAr = [1,2,3,4,5,6,7];
// for (var i=0; i<tempAr.length; i++) {
//   createGem(screen);
// }

var allDivs = d3.select("#screen");
// console.log(allGems);

// set layout
var w = window.innerWidth;
var h = window.innerHeight;

var force = d3.layout
  .force()
  .linkDistance(100)
  .charge(-150)
  .nodes(allGemParams)
  .size([w,h])
  .on("tick", tick);

function tick() {
  d3.selectAll("div.gem").attr("style", function(d) {
    // console.log(d)
    return 'left:'+d.x+'px; top: '+d.y+'px;';
  })
}

var nodes = force.nodes();
var node = allDivs.selectAll("div.gem")
function restart() {
  d3.selectAll("div.gem").remove()
  node.data(nodes).enter().append('div').attr('class', 'gem').html(function(d){
    return createGem(d.id).outerHTML
  })
  force.start();
}

restart()

</script>
</body>
</html>
